body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 360px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1c1e21;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #606770;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #166fe5;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #606770;
}

.signup-link a {
    color: #1877f2;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.hydrosync-branding { /* Using a class for reusability */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #2196F3;
    border-radius: 10px;
    background-color: #2196F3;
}

.hydrosync-branding h1 {
    color: white;
    margin: 0; /* Margin bottom for space */
    font-size: 32px;
    background-color: transparent; /* Apply background color here */
    font-weight: bold;
}

.hydrosync-branding img {
    height: 32px;
    width: auto;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
}