body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 360px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.website-name {
    font-size: 32px;
    font-weight: bold;
    color: #2196F3;
    margin-bottom: 8px;
    margin-top: 0;
}

.water-droplet-icon {
    width: 48px; /* Set explicit width for the image */
    height: 48px; /* Set explicit height for the image */
    margin-bottom: 10px; /* Space between icon and text */
}

h1 {
    font-size: 24px;
    color: #1c1e21;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #606770;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

#username {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #166fe5;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #606770;
}

.signup-link a {
    color: #1877f2;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}