body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff; /* White background */
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, html, body {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #0058A3; /* IKEA Blue */
  margin-bottom: 15px;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  background-color: #0058A3;
  color: white;
  border: 2px solid #004B8D;
}

h2 {
  color: #000000;
  margin-bottom: 15px;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
  max-width: 400px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
select {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 24px); /* Account for padding */
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #0058A3; /* IKEA Blue */
  
}

button:hover {
  background-color: #004B8D;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.link-button {
  background: none;
  border: none;
  color: #0058A3; /* IKEA Blue */
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

.link-button:hover {
  color: #004B8D;
  margin-bottom: 20px;
}

.water-interaction-container {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  gap: 20px;
}

.water-input-section {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.pour-button {
  background-color: #28a745;
}

.pour-button:hover {
  background-color: #559dca;
}

.logout-button {
  background-color: #dc3545;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #c82333;
}

/* IKEA Login Page Style */
.ikea-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Ensure it covers full viewport width */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: #f7f7f7; /* Fallback color */
}

.ikea-login-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.ikea-login-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

