.water-tracker-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  overflow: hidden;
}

.water-icon {
  position: absolute;
  bottom: -50px;
  font-size: 2rem;
  animation: floatUp 4s ease-out forwards;
}

@keyframes floatUp {
  0% {
    bottom: -50px;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    bottom: 100px;
    opacity: 0;
    transform: translateX(calc(100vw * (var(--random) - 0.5) * 2));
  }
}
