
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  padding: 0 20px;
  
  
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.login-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 36px;
  word-break: break-word;
}

.header-logo {
  height: 50px;
  margin-right: 15px;
  border: 2px solid #007bff;
  border-radius: 50%;
}

.auth-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-sizing:content-box
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #333;
  word-break: break-word;
}

.input-group {
  margin-bottom: 15px;
  text-align: right;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
  max-width: 100px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: content-box;
  font-size: 16px;
  outline: none;
}

.error-message {
  color: #dc3545;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-box button:hover {
  background-color: #0056b3;
}

.auth-box button:disabled {
  background-color: #a0c9ed;
  cursor: not-allowed;
}

.toggle-auth {
  margin-top: 20px;
  color: #666;
}

.toggle-auth span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.toggle-auth span:hover {
  text-decoration: underline;
}
