/* src/animations/FillingAnimation.css */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
  color: #333;
  font-family: sans-serif;
}

.cup-wrapper {
  width: 150px;
  height: 200px;
  border: 4px solid #a4aacb;
  border-radius: 0 0 40px 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #e8f5e9;
}

.liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5998c5; /* Green water */
  animation: fillCup 2s ease-in-out infinite alternate;
  transform-origin: bottom;
  border-radius: 0 0 40px 40px;
}

@keyframes fillCup {
  0% {
    height: 0%;
    border-radius: 0 0 40px 40px;
  }
  50% {
    height: 70%;
    border-radius: 0 0 30px 30px;
  }
  100% {
    height: 100%;
    border-radius: 0 0 10px 10px;
  }
}

.loading-text {
  font-size: 1.5em;
  font-weight: bold;
}
